<div class="containner">
  <form #pessoaForm="ngForm" >

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
         <label>Nome</label>
         <input type="text" pInputText name="nome"
           ngModel #nome="ngModel" required minlength="10" />

           <p-message *ngIf="nome.hasError('required') && nome.dirty" severity="error" text="Informe um nome"> </p-message>
           <p-message *ngIf="nome.hasError('minlength') && nome.dirty" severity="warn" text="Nome requer no minimo 10 letras"></p-message>

      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label >Logradouro</label>
        <input type="text" pInputText name="logradouro"
          ngModel #logradouro="ngModel" required/>

          <p-message *ngIf="logradouro.hasError('required') && logradouro.dirty" severity="error" text="Informe um endereço"> </p-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input type="text" pInputText name="numero"
          ngModel #numero="ngModel" required/>

          <p-message *ngIf="numero.hasError('required')&&numero.dirty" severity="error" text="Informe um numero"></p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText name="bairro"
          ngModel #bairro="ngModel" required/>

          <p-message *ngIf="bairro.hasError('required') && bairro.dirty" severity="error" text="Informe um bairro"></p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" name="cep" ngModel #cep="ngModel" required></p-inputMask>

        <p-message *ngIf="cep.hasError('required') && cep.dirty" severity="error" text="Informe um CEP"></p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText name="cidade" ngModel #cidade="ngModel" required>

        <p-message *ngIf="cidade.hasError('required') && cidade.dirty" severity="error" text="Informe uma Cidade"></p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText name="estado" ngModel #estado="ngModel" required/>

        <p-message *ngIf="estado.hasError('required') && estado.dirty" severity="error" text="Informe um Estado"></p-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!pessoaForm.valid">

        </button>
        <button pButton type="button" label="Novo" class="ui-button-success"></button> <!-- class="ui-button-success" classe do proprio button do primng-->

        <p-button label="Click" styleClass="ui-button-danger"></p-button>

        <a href="javascript:;">Voltar para pesquisa</a>
     </div>

    </div>

  </form>



</div>
